@import "./_variables";

.header {
  @apply relative select-none;
}

.header__inner {
  @apply fixed w-full top-0 left-0 flex items-center z-10 bg-transparent transition-colors duration-500 px-6 select-none;
  height: var(--header-height);
}

.header__inner.scrolled {
  @apply transition-transform duration-500 shadow-md;
  background-color: var(--accent-color);
  animation: slideUpDown 0.5s;
}

.header--projects .header__inner {
  @apply shadow-md;
  background-color: var(--accent-color);
}

.header--projects.open .header__inner {
  @apply bg-transparent shadow-none;
}

.logo {
  @apply text-4xl font-bold transition-colors duration-300 select-none;
  font-family: "Sofia";
  color: var(--secondary-color);
  letter-spacing: -0.5px;
}

.logo--dark {
  @apply delay-300;
  color: var(--primary-color-dark);
}

.header__right {
  @apply ml-auto flex items-center gap-4;
}

.header__btn {
  @apply py-1.5 px-4 rounded-xs relative overflow-hidden transition-all duration-500 flex items-center drop-shadow;
  color: var(--primary-color);
}

.header__btn:hover {
  color: var(--secondary-color);
}

.header__btn:hover:before {
  @apply top-0;
}

.header__btn:before {
  @apply w-full h-full absolute left-0 top-[100%] transition-all duration-500;
  content: "";
  background-color: var(--primary-color);
  z-index: -1;
}

.header__btn:after {
  @apply w-full h-full absolute left-0 top-0;
  content: "";
  background-color: var(--secondary-color-opaque);
  z-index: -2;
}

.header__btn svg {
  @apply mr-2;
}

.header__nav-hamburger {
  @apply fixed right-0 top-0 bottom-0 w-full flex z-9 flex-col justify-center backdrop-blur-sm;
  background-color: var(--secondary-color-opaque);
}

.nav__list {
  @apply flex flex-col items-center gap-6;
}

.nav__link {
  @apply flex transition-colors duration-300 ease-in px-4 justify-center;
  color: var(--primary-color);
}

.nav__link .link__text {
  @apply inline-block relative font-bold text-5xl transition-colors duration-300 ease-out;
}

.nav__link:hover .link__text {
  @apply transition-colors duration-300 ease-out;
  color: var(--accent-color);
}

.nav__socials {
  @apply flex justify-center mt-10 gap-4;
}

.nav__socials .social__link {
  @apply flex items-center justify-center h-9 w-9 rounded-full transition-colors duration-300;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.nav__socials .social__link:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.header__nav-hamburger-icon {
  @apply flex flex-col cursor-pointer;
}

.header__nav-hamburger-icon div {
  @apply w-8 my-1 rounded-full transition-all duration-300 drop-shadow;
  background-color: var(--secondary-color);
  height: 2px;
}

.header__nav-hamburger-icon--dark .active {
  background-color: var(--primary-color);
}

.header__nav-hamburger-icon--dark .active:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.header__nav-hamburger-icon--dark .active:nth-child(2) {
  @apply opacity-0 w-0 delay-400;
}

.header__nav-hamburger-icon--dark .active:nth-child(3) {
  @apply delay-300;
  transform: translateY(-10px) rotate(-45deg);
}

.language-selector__btn {
  @apply flex text-base transition-opacity duration-300 py-1.5 px-2.5 rounded-xs uppercase cursor-pointer drop-shadow;
  background-color: var(--secondary-color-opaque);
  color: var(--primary-color);
}

.language-selector__btn:hover {
  @apply opacity-70;
}

@media (max-height: 520px) {
  .header__nav-hamburger {
    @apply flex-row;
  }

  .nav__list {
    @apply mt-auto mb-6 gap-4;
  }

  .nav__link .link__text {
    @apply text-3xl;
  }

  .nav__socials {
    @apply flex-col absolute right-6 bottom-6;
  }
}
