:root {
  --primary-color: #222429;
  --primary-color-dark: #1c1d20;
  --secondary-color: #c6d9f7;
  --secondary-color-opaque: rgba(198, 217, 247, 0.75);
  --accent-color: #0652dd;
  --accent-color-opaque: rgba(6, 82, 221, 0.7);
  --accent-color-light: #6d84f7;
  --accent-color-dark: #054cba;
  --accent-color-darker: #0433a6;
  --black-light: #1a1a1a; 
  --success-color: #05c46b;
  --success-color-opaque: rgba(5, 196, 107, 0.7);
  --error-color: #ed4c67;
  --error-color-opaque: rgba(237, 76, 103, 0.7);
  --info-color: var(--accent-color);
  --info-color-opaque: var(--accent-color-opaque);

  --header-height: 70px;
  --max-width: 1280px;
}
