@use "sass:color";

// COLORS

$primary-color: #222429;
$primary-color-dark: #1c1d20;
$secondary-color: #c6d9f7;
$accent-color: #0652dd;
$accent-color-light: color.adjust($accent-color, $lightness: 14%);
$accent-color-dark: color.adjust($accent-color, $lightness: -6%);
$accent-color-darker: color.adjust($accent-color, $lightness: -12%);
$black: #000;
$black-light: color.adjust($black, $lightness: 5%);
$white: #fff;
$success-color: #05c46b;
$error-color: #ed4c67;
$info-color: $accent-color;
$landing-image-tint: color.adjust($accent-color, $lightness: -50%);

// PADDINGS
$padding-xs: 0.25em;
$padding-sm: 0.5em;
$padding-md: 1em;
$padding-lg: 2em;

// SIZES
$header-height: 70px;
$max-width: 1280px;
